PORT=5050
CLIENT_ORIGIN=http://localhost:5173
MONGO_URI=
DESIGN_ACCESS_CODE=001Mutant

# Use this when your Google Sheet is published/exportable as CSV.
GOOGLE_SHEET_CSV_URL=

# Default Sheet. It must be public/exportable for automatic sync.
GOOGLE_SHEET_ID=1J3uKsksE5pjhl0ZIjYE_Sck8hhYX9HT8Y-VFYlusoIg
GOOGLE_SHEET_GID=0
SHEET_SYNC_INTERVAL_MINUTES=5
